[submodule "external/dreamer4"]
	path = archive/dreamer4
	url = https://github.com/nicklashansen/dreamer4.git
[submodule "external/dreamerv3"]
	path = external/dreamerv3
	url = https://github.com/danijar/dreamerv3.git
